/*** Media Queries Loader ***/

@media screen and (min-width: 768px) {
    .loader--group {

        &__one { // variables identiques for group__one
           font-size: 40px;
        }
      
        &__two { // variables identiques for group__two
          gap: 30px;
           font-size: 50px;
        }
      }
      
      .item__devices::before, .item__location::before, .item__ustensils::before {
          padding: 5px;  
        }
}

/*** Media Queries Index ***/

@media screen and (min-width: 768px) {
    main .places .restaurants-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
  }

/*** Media Queries index : Tutorial ***/

@media screen and (min-width: 768px) {
    main .tutorial .container ul {
        display: flex;
        flex-flow: row nowrap;
    }
}

/*** Media Queries Restaurant pages ***/


    


/*** Media Queries Footer  ***/

@media screen and (min-width: 768px) {

footer {
        display: flex;
        flex-direction: row;

    a {
    padding-top: 7px;
    }
}

}

    .box-footer-media { 
      flex-direction: row;
    }

    .footer--partners {
        flex-direction: row;
    }