/* Define standard variables and values for website */
/*** Fonts ***/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&family=Shrikhand&display=swap');
$main-font : 'Shrikhand', cursive;
$second-font : 'Roboto', sans-serif;


/*** Website main Colours ***/
$main-color: #9356DC;
$second-color: #99E2D0;
$third-color: #008766;
$fourth-color: #89C8FA;
$fifth-color: #003A68;
$sixth-color: #FF79DA;
$seventh-color: #F6F6F6;

/*** Icon colour ***/
$icon-color : #353535;
$tuto-icon-color : #7E7E7E;

/*** Others Colours ***/
$main-title-color : #101010;
$footer-BG-color : #353535;



/*** Main variables of Website ***/ 


html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: $second-font;
}


h1 {
  font-family: $second-font;
  font-size: 30px;
  font-weight: 700;
  color: #000000;
  margin: 0px;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  margin-top: 50px;
  margin-bottom: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    margin: 0;
    padding: 0;
  }
}

a {
  text-decoration: none;

}
