$background-alafrancaise: url(../assets/images/restaurants/a_la_francaise.jpg);
$background-lanoteenchantee : url(../assets/images/restaurants/la_note_enchantee.jpg);
$background-lapalettedugout : url(../assets/images/restaurants/la_palette_du_gout.jpg);
$background-ledelicedessens :  url(../assets/images/restaurants/le_delices_des_sens.jpg);
