/*** Media Queries Loader ***/

@media screen and (min-width: 768px) {
    .loader--group {

        &__one { // variables identiques for group__one
           font-size: 40px;
        }
      
        &__two { // variables identiques for group__two
            gap: 30px;
            font-size: 50px;
        }
      }
      
      .item__devices::before, .item__location::before, .item__ustensils::before {
          padding: 3px;  
        }
}

/*** Media Queries Index ***/

@media screen and (min-width: 768px) {
    main .places .restaurants-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
  }

/*** Media Queries index : Tutorial ***/

@media screen and (min-width: 768px) {
    main .tutorial .container ul {
        display: flex;
        flex-flow: row nowrap;
    }
}

/*** Media Queries Restaurant pages ***/

@media screen and (min-width: 768px) {
    .place__menu {
    width: 80%;
    }
}


/*** Media Queries Footer  ***/

@media screen and (min-width: 768px) {

    footer {
        padding: 64px 26px 34px;
        flex-direction: row-reverse;
        align-items: center;
        gap : 16px;


        .box-footer-media { 
            flex-direction: row;
            gap: 16px;
        }

        .footer--partners {
            flex-direction: row;
        }

        ul {
            padding-bottom: 0px;
        }
    }
}